<ion-content>
	<div class="home-view">
		<h1 class="title">{{home.title}}</h1>

		<div class="row">
			<div class="col">
				<input type="text" ng-model="home.quantity">
			</div>
			<div class="col">
				<select ng-model="home.units">
					<option value="MB">MB</option>
					<option value="GB">GB</option>
					<option value="TB">TB</option>
				</select>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<a style="font-size: 1.5em;" ng-click="home.calculate()" 
					class="button button-full button-positive">Calculate</a>
			</div>
		</div>
	</div>
</ion-content>