<ion-content>
	<div class="home-view">
		<div class="padding">
			<h1 class="title">{{vm.title}}</h1>
		</div>
		<form>
			<div class="row">
				<div class="col">
					Size:
					<div>
						<input type="text" ng-model="vm.quantity">
					</div>
				</div>
				<div class="col">
					Units:
					<div>
						<button style="width: 48%;"
							ng-click="vm.selectUnit(2);"
							ng-class="{'button-stable': vm.selectedUnit === 2, 'button-clear': vm.selectedUnit !== 2}"
						 class="button">GB</button>
						<button style="width: 48%;"
							ng-click="vm.selectUnit(3);"
							ng-class="{'button-stable': vm.selectedUnit === 3, 'button-clear': vm.selectedUnit !== 3}" class="button">TB</button>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col" style="text-align: center;">
					<button ng-click="vm.calculate()" style="width: 100%;" class="button button-stable">How Many Floppies?</button>
				</div>
			</div>
		</form>
	</div>
</ion-content>

<script id="app/home/about-modal.html" type="text/ng-template">
	<ion-modal-view>
		<ion-header-bar class="bar-stable">
			<h1 class="title">Pockets full of storage</h1>
		</ion-header-bar>
		<ion-content class="padding">
			<p>
				Data... bits and bytes. We store them, a LOT of them, on thumb drives, tiny external hard drives and the like. In the last
				deacde or so, the storage capacity of these little data storage devices has exploded.
			</p>
			<p>
				Not that long ago, our only option was to use floppy disks. They came in various formats with various capcities.
			</p>
			<p>
				In today's world it can be easy to take our modern devices for granted.
			</p>
			<div class="row">
				<div class="col-offset-25 col-50">
					<button class="button button-small button-positive button-full" ng-click="modal.hide()">Close</button>
				</div>
			</div>
		</ion-content>
	</ion-modal-view>
</script>