<ion-content>
	<div class="home-view">
		<h1 class="title">{{home.title}}</h1>
		<form>
		<div class="row">
			<div class="col">
				Size:<br />
				<input type="text" ng-model="home.quantity">
			</div>
			<div class="col">
				Units:<br />
				<select ng-model="home.selectedUnit"
					ng-options="unit.id as unit.label for unit in home.units">
				</select>
			</div>
		</div>

		<div class="row">
			<div class="col">
				Diskettes:
			</div>
		</div>
		<div class="row">
			<div class="col">
				<select name="selectedDisk" style="font-size: 1.5em;"
					ng-model="home.selectedDisk"
					ng-options="disk.id as disk.label for disk in home.disks">
				</select>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<a style="font-size: 1.5em;" ng-click="home.calculate()" class="button button-full button-positive">Calculate</a>
			</div>
		</div>
		</form>
	</div>
</ion-content>